<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="basic-template :: head">
</head>
<body>
	<nav th:replace="basic-template :: navbar"></nav>
	
	<div class="container" style="min-height: 500px">

		<div class="starter-template">
			<h1>Your dictionary</h1>

			<audio id="audio"
				src="https://dictionary.cambridge.org/media/english/uk_pron/u/ukl/uklou/ukloudn014.mp3">
			</audio>

			<form class="form-horizontal" id="search-form" th:object="${word}"
				action="#" method="post">
				<div class="form-group form-group-lg">
					<div class="col-sm-10">
						<input type="text" class="form-control" id="searchBox"
							th:field="*{word}" style="float: left; width: 80%" />
						<div class="dropdown" style="display: inline; margin-left: -20px">
							<button class="btn btn-default dropdown-toggle" type="button"
								id="langBtn" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="true" style="padding: 12px; border-left: none;">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1"
								style="margin-top: 15px;">
								<li onclick="setDict('VI_EN')" id="VI_EN"><a href="#"
									th:text="#{vi2en}"></a></li>
								<li onclick="setDict('EN_VI')" id="EN_VI"><a href="#"
									th:text="#{en2vi}"></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<input type="hidden" id="dictType" th:field="*{type}" />
						<button type="submit" id="bth-search"
							class="btn btn-primary btn-lg">Search</button>
					</div>
				</div>
				<div id="feedback">
					<div th:utext="${word.meaning}"></div>
				</div>

				<div th:if="${historyWords != null && userName != null}"
					id="historyDiv">
					<table class="table table-hover" style="margin-top: 50px;">
						<thead>
							<tr>
								<th>History words</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="word,iterator : ${historyWords}"
								th:id="'row' + ${iterator.count}">
								<td><a href="${word.word}"
									th:href="'/' + ${word.type.URI} + '/' + ${word.word}"><span
										th:text="${word.word}"></span></a></td>
								<td><a href="#"
									th:onclick="'javascript:deleteHistory(\'' + ${word.word} + '\', \'' + ${word.type} + '\',  \'row' + ${iterator.count} + '\');'"><i
										class="fa fa-trash" aria-hidden="true"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>

			</form>

		</div>

	</div>

	<div class="container">
		<footer>
			<p>
				© <a href="tratu.online">tratu.online</a> 2017
			</p>
		</footer>
	</div>



	<script type="text/javascript" src="http://localhost:8080/js/main.js"></script>

</body>
</html>