<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="basic-template :: head">
</head>
<body>
	<nav th:replace="basic-template :: navbar"></nav>

	<div class="container-fluid" style="min-height: 500px">
		<audio id="audio" src="http://google.com">
		</audio>
		<form class="form-horizontal" id="search-form" th:object="${model}"
			action="#" method="post">
			<div class="row">
				<div class="col-sm-6">
					<textarea rows="20" cols="100" class="form-control" style="height: 500px"
						id="paragraphTextArea" th:field="*{paragraph}"></textarea>
				</div>


				<div id="rightColumn" class="col-sm-6" style="overflow-y: scroll; height: 500px">
					<table class="table table-hover"
						id="newWordTable">
						<thead>
							<!-- <tr>
								<th>New words</th>
							</tr> -->
						</thead>
					</table>
				</div>
			</div>

			<div class="form-group form-group-lg" id="unknownWords"></div>

		</form>

	</div>


	<div class="container">
		<footer>
			<p>
				© <a href="tratu.online">tratu.online</a> 2017
			</p>
		</footer>
	</div>



	<script type="text/javascript" src="http://localhost:8080/js/main.js"></script>

</body>
</html>