<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="basic-template :: head">
</head>
<body>
	<nav th:replace="basic-template :: navbar"></nav>

	<div class="container" style="min-height: 500px">
		<div class="starter-template">
			<audio id="audio" 
				src="http://google.com">
			</audio>
			<form class="form-horizontal" id="search-form" th:object="${model}"
				action="#" method="post">
				<div class="form-group form-group-lg">
					<textarea rows="20" cols="100" class="form-control"
						id="paragraphTextArea" th:field="*{paragraph}"></textarea>
				</div>

				<div class="form-group form-group-lg" id="newWords">
					<table class="table table-hover" style="margin-top: 50px;"
						id="newWordTable">
						<thead>
							<tr>
								<th>New words</th>
							</tr>
						</thead>
					</table>
				</div>

				<div class="form-group form-group-lg" id="unknownWords"></div>

			</form>

		</div>

	</div>

	<div class="container">
		<footer>
			<p>
				© <a href="tratu.online">tratu.online</a> 2017
			</p>
		</footer>
	</div>



	<script type="text/javascript" src="http://localhost:8080/js/main.js"></script>

</body>
</html>