<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="basic-template :: head">
</head>
<body>
	<nav th:replace="basic-template :: navbar"></nav>
	
	<div class="container" style="min-height: 500px">

		<div class="starter-template">
			<h1>Error!</h1>
		</div>

	</div>

	<div class="container">
		<footer>
			<p>
				© <a href="tratu.online">tratu.online</a> 2017
			</p>
		</footer>
	</div>



	<script type="text/javascript" src="http://localhost:8080/js/main.js"></script>

</body>
</html>